name: CI Voll Med

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Configura JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build, testes, cobertura e Sonar
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: mvn -B clean verify sonar:sonar \
        -Dsonar.projectKey=MatheusYurirs_vollmed-api \
        -Dsonar.organization=matheusyurirs \
        -Dsonar.host.url=https://sonarcloud.io
